.card-comments img {
  width: 4rem; }

.form-invalid-data {
  color: #721c24;
  background-color: #f8d7da;
  border-radius: 10px;
}

.form-invalid-data ul {
  padding-inline-start: 0!important;
}

.form-invalid-data li {
  list-style-type: none;
}